# Data types and Type Casting

In [2]:
a = 10
b = 21.32
c = "Kesa"

In [4]:
#typecasting

x = int(b)

In [5]:
type(x)

int

In [7]:
d = "321"

In [8]:
y = float(d)

In [9]:
y

321.0

In [10]:
type(y)

float

Two Types of Data types in Python
    -Fundamantal
        -Numeric : int, Float
        -String
    -Collection
        -Sequential - list, tuple
        -Non Seq : dict, set

# STRING

In [11]:
string = "hello welcome to smartbridge 1 2 3 4.5"

In [12]:
#indicing
string[14]

't'

In [14]:
#slicing

#Start and End Slicing

string[6:13]

'welcome'

In [16]:
#Start Slicing

string[17:]

'smartbridge 1 2 3 4.5'

In [17]:
#End Slicing

string[:13]

'hello welcome'

In [18]:
#String is an Immutable Object

In [19]:
string.capitalize()

'Hello welcome to smartbridge 1 2 3 4.5'

In [20]:
string.casefold()

'hello welcome to smartbridge 1 2 3 4.5'

In [21]:
s = "ABCDEFGH"

In [22]:
s.casefold()

'abcdefgh'

In [23]:
s.capitalize()

'Abcdefgh'

In [24]:
string.find("welcome")

6

In [32]:
# in Split we Can Explicitly Say the CHAR to where to Split

stringList = string.split()

In [33]:
stringList

['hello', 'welcome', 'to', 'smartbridge', '1', '2', '3', '4.5']

In [34]:
type(stringList)

list

# LIST

In [36]:
list = [1,2,3,"john", "prads", 24.5]

In [37]:
list[3]

'john'

In [38]:
list.append("a b c")

In [39]:
list

[1, 2, 3, 'john', 'prads', 24.5, 'a b c']


# Comprehensive Technique

Creating a list with some expression and conditions and also loops

In [41]:
# Example

P = [i for i in range(101) if(i%2!=0)]

In [42]:
print(P)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]


# TUPLES

In [43]:
basicTuple = ("asma", "rithik", "rohit", 1, 2, 3, 4.5)

In [44]:
basicTuple.index("asma")

0

# DICT

In [45]:
# {"key" : "Values"}

In [49]:
dictionaryDemo = {1 :"Raja", 2 : "Books", 3 : "Jayanth"} # Key Can be int, String

In [47]:
dictionaryDemo

{1: 'Raja', 2: 'Books', 3: 'Jayanth'}

In [48]:
# Values are Mutable and Keys are Immutable