Name : Kesavan R
Reg No : 19MIM10086
Batch : 2024
Dept : CSE
Branch : Integrated M.Tech in AI and ML
College : VIT Bhopal

In [ ]:
import pandas as pd

In [77]:
df = pd.read_csv("bank.csv")

In [78]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [79]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

In [80]:
df.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [81]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [82]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

In [83]:
df["job"].unique()

array(['admin.', 'technician', 'services', 'management', 'retired',
       'blue-collar', 'unemployed', 'entrepreneur', 'housemaid',
       'unknown', 'self-employed', 'student'], dtype=object)

In [84]:
df["marital"].unique()

array(['married', 'single', 'divorced'], dtype=object)

In [85]:
df["education"].unique()

array(['secondary', 'tertiary', 'primary', 'unknown'], dtype=object)

In [86]:
df["default"].unique()

array(['no', 'yes'], dtype=object)

In [87]:
df["housing"].unique()

array(['yes', 'no'], dtype=object)

In [88]:
df["loan"].unique()

array(['no', 'yes'], dtype=object)

In [89]:
df["contact"].unique()

array(['unknown', 'cellular', 'telephone'], dtype=object)

In [90]:
df["month"].unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
       'mar', 'apr', 'sep'], dtype=object)

In [91]:
df["poutcome"].unique()

array(['unknown', 'other', 'failure', 'success'], dtype=object)

In [92]:
df["deposit"].unique()

array(['yes', 'no'], dtype=object)

In [143]:
df.shape

(11162, 17)

In [144]:
x = df.iloc[:, 0:16].values

In [145]:
x

array([[59, 'admin.', 'married', ..., -1, 0, 'unknown'],
       [56, 'admin.', 'married', ..., -1, 0, 'unknown'],
       [41, 'technician', 'married', ..., -1, 0, 'unknown'],
       ...,
       [32, 'technician', 'single', ..., -1, 0, 'unknown'],
       [43, 'technician', 'married', ..., 172, 5, 'failure'],
       [34, 'technician', 'married', ..., -1, 0, 'unknown']], dtype=object)

In [146]:
y = df.iloc[:, 16].values

In [147]:
y

array(['yes', 'yes', 'yes', ..., 'no', 'no', 'no'], dtype=object)

In [148]:
x[0]

array([59, 'admin.', 'married', 'secondary', 'no', 2343, 'yes', 'no',
       'unknown', 5, 'may', 1042, 1, -1, 0, 'unknown'], dtype=object)

In [119]:
#Column Transform

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [159]:
ct = ColumnTransformer([("oh", OneHotEncoder(),[1, 2, 3, 4, 6, 7, 8, 10, 15])], remainder = "passthrough")

In [160]:
x = ct.fit_transform(x)

In [151]:
x[0]

array([1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0,
       0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 1.0, 59, 2343, 5, 1042, 1, -1, 0], dtype=object)

In [152]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [153]:
x.shape

(11162, 51)

In [162]:
from sklearn.model_selection import train_test_split

In [164]:
x_train, x_test,y_train,y_test =train_test_split(x,y,test_size= 0.2,random_state = 0)

In [ ]:
#Feature scaling

In [165]:
from sklearn.preprocessing import StandardScaler

In [166]:
sc = StandardScaler()

In [167]:
x_train = sc.fit_transform(x_train)

In [168]:
x_train

array([[ 0.45760242, -0.45760242,  0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264],
       [ 0.45760242, -0.45760242,  0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264],
       [-2.18530314,  2.18530314,  0.17658264, ...,  0.92827075,
        -0.48428507, -0.35888264],
       ...,
       [ 0.45760242, -0.45760242,  0.17658264, ...,  2.04743488,
        -0.48428507, -0.35888264],
       [ 0.45760242, -0.45760242,  0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264],
       [ 0.45760242, -0.45760242,  0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264]])

In [169]:
x_test = sc.fit_transform(x_test)

In [171]:
x_test

array([[ 0.46571851, -0.46571851,  0.16329932, ..., -0.51893725,
         2.62409874,  0.62465525],
       [ 0.46571851, -0.46571851,  0.16329932, ..., -0.51893725,
         1.30248101,  1.63872661],
       [ 0.46571851, -0.46571851,  0.16329932, ..., -0.17189116,
        -0.46885387, -0.38941612],
       ...,
       [ 0.46571851, -0.46571851,  0.16329932, ..., -0.17189116,
        -0.46885387, -0.38941612],
       [ 0.46571851, -0.46571851,  0.16329932, ..., -0.51893725,
        -0.46885387, -0.38941612],
       [ 0.46571851, -0.46571851,  0.16329932, ..., -0.17189116,
        -0.46885387, -0.38941612]])